@tailwind base;
@tailwind components;
@tailwind utilities;



#sidebar::-webkit-scrollbar-track, body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.479);
  box-shadow:inset 0 0 6px rgba(0,0,0,0.3) ;
	background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar
{
	width:0;
	background-color: #F5F5F5;
  
}

#sidebar:hover::-webkit-scrollbar{
  width:6px;
}
body::-webkit-scrollbar{
  width: 8px;
}

#sidebar::-webkit-scrollbar-thumb{
  background-color: rgb(22, 22, 22);

  border-radius: 20px;

}
body::-webkit-scrollbar-thumb
{
	background-color: rgb(235, 81, 81);
	
  border-radius: 20px;
}


.sm-sidebar{
  left:-240px;
  opacity: 0;
  transition: left .2s,opacity .2s;
  
}

.sm-sidebar.active{
  left: 0;
  opacity: 1;
  
}


.video-container{
  max-width: 100%;
  width: 100%;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  gap: 45px 16px;
}

.title-link{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-size: 1rem;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        line-height: 1.375rem;
        max-height: 2.75rem;
        white-space:normal;
        text-overflow: ellipsis;
        font-weight: 500;
        overflow: hidden;
}


.skeleton::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  animation-name: shimmer;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}